.jumbotron {
    width: 90%;
    margin:auto;
    border-radius: 12px;
    
}

#tableData {
    width: 90%;
    margin:auto;
    margin-top: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    border-radius: 12px;
    padding: 10px;
}

#formData {
    width: 90%;
    margin:auto;
    margin-top: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    border-radius: 12px;
    padding:10px;
}